.footer{
    background-color: #001e00;
    .container{
        .row{
            .footer__row--link{
                P{
                    color: #fe5c24;
                }
                .input{
                   input{
                    background-color: #0c3d0c;
                    color: white;
                    height: 50px !important;
                   }
                   span{
                       background-color: #fe5c24;
                       height: 50px !important;
                   }
                }
            }
        }
    }
    .footer__down{
        background-color: #001e00;
        .container{
            h6{
                span{
                    color: #fe5c24;
                }
            }
        }
    }
}

.footer__row--link{
    a{
        transition: all 0.2s ease;
        text-decoration: none;
    }
    a:hover{
        color: #fe5c24 !important;
    }
}