.skills__col1{
    h2{
        font-weight: 700;
    }
    a{
        font-size: 27px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.1s ease;
    }
    .skills__a1{
        color: #14a800 !important;
        opacity: 0.6;
    }
    a:hover{
        color: #14a800 !important;
        opacity: 0.7;
    }
}
.skills_-col1{
    a{
        border: 1px solid black;
        border-radius: 15px;
        text-decoration: none;
        padding: 2px !important;
    }
}

@media (max-width: 800px){
    .skills_-col1{
        a{
            font-size: 15px !important;

        }
    }
}

@media (max-width: 600px){
    .skills_-col1{
        a{
            font-size: 12px !important;

        }
    }
}